.dashboard {
    height: 100%;
    text-align: center;

    .refresh-button {
        align-items: center;;
        display: flex;
        font-size: 1em;
        height: 5%;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .chart-wrapper {
        height: 35%;
        position: relative;
        width: 100%;
    }
}